.App {
  text-align: center;
}

.navbar{
  background-color:orange;
  border-bottom: 5px solid gray;
  margin-bottom: 0;
  display:'flex';
  width: 100%;

}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

li {
  list-style-type: none;
}

body {
  background-color: bisque;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title-startup{
  margin-top: 0;
  margin-left: 0%;
  background-color: orange;
  height: 300px;
  padding-left: 0%;
  padding-right:20%;
 
}
.title-translation{
  margin-top: 0;
  margin-left: 0%;
  background-color: orange;
  height: 50px;
  padding-left: 0%;
  padding-right:20%;
}
.login-card{
  display: flex;
  justify-content: center;
}
.login{
  border-radius: 25px;
  border: 2px solid gray;
  padding: 10px;
  width: max-content;  
}
.welcome{
  font-weight:bold
}
.login-button{
  background-color: purple;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  border-radius: 50%;
}
.translation-card{
  margin: auto;
  width: 50%;
 
}
.sign-box{
  width: 500px;
  height: 500px;
  background-color: wheat;
  border-radius:  25px;
  border: 5px solid black;
  display: block;
}

.button{
  border: 0;
  outline: 0;
  cursor: pointer;
  color: white;
  background-color: rgb(84, 105, 212);
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(84 105 212) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 8%) 0px 2px 5px 0px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  padding: 4px 8px;
  display: inline-block;
  min-height: 28px;
  transition: background-color .24s,box-shadow .24s;

}